<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    
    <main>
        <div class="Title-heading box">
            <h2>To do App</h2>
        </div>
        
            <div class="task-data">
                <form action="/create-task" method="post">
                    <div class="box">
                        <label for="Description">Description</label>
                        <input type="text" name="Description" placeholder="What do you need to do?" >
                    </div>
                    <div class="box">
                        <div class="half-box">
                            <label for="Category">Category</label><br>
                            <span class="label-text">Choose a Category</span>
                            <select name="Category" id="Category" >
                                <option value=""></option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <!-- <option value="School">School</option> -->
                                <option value="Claeaning">Clearing</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="half-box">
                            <label for="Due_Date">Due Date</label><br>
                            <input type="date" name="Due_Date" placeholder="dd/mm/yyyy" ><br>
                        </div>
                    </div>
                    <div class="buttons-box box">
                        <div class="buttons">
                            <button type="submit" class="add-button"><i class="fas fa-plus"></i> Add Task</button>
                            <button id="delete-button"><i class="fas fa-trash-alt"></i> Delete Task</button>
                        </div>
                    </div> 
                </form>
            </div>
        <div class="Saved-list">
            <ul>
                <% for(let i of To_Do_List){ %>
                    
                    <li>
                        <div class="single-item-details box">
                            <input type="checkbox" name="check-delete" class="check-box"  id=<%= i._id %>>
                            <p class="des-text-size"><%= i.Description %></p>
                            <div class="category-label"><h2><%= i.Category %></h2></div>
                            <span><i class="fas fa-calendar "> </i> <%= i.Due_Date %></span>
                        </div>
                        
                    </li>
                <%}%>
                
            </ul>
            
        </div>
    </main>
    <script src="./Js/script.js"></script>    
</body>
</html>